<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-express</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="public/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
</head>
<body>
<div id="app">
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="list in lists">
        <td scope="row">{{list.id}}</td>
        <td>{{list.title}}</td>
        <td>{{list.date.substring(0, 10)}}</td>
        <td>
          <button class="btn btn-info" @click="editData(list.id, list.title)">编辑数据</button>
          <button class="btn btn-danger" @click="removeData(list.id)">删除数据</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" @click="addData()">增加数据</button>
  <div v-show="isDisplay">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="title">Title</label>
      <input class="form-control col-sm-4" type="text" id="title" v-model="newTitle">
      <span class="col-sm-1"></span>
      <button class="btn btn-primary col-sm-1" @click="saveData()">确定</button>
    </div>
  </div>
  <div v-show="isEdit">
    <div class="form-group row" >
      <label class="col-sm-2 col-form-label" for="changeTitle">Title</label>
      <input class="form-control col-sm-4" type="text" id="changeTitle" v-model="changeTitle">
      <span class="col-sm-1"></span>
      <button class="btn btn-primary col-sm-1" @click="sureEdit()">确认修改</button>
    </div>
  </div>
</div>
</body>
<script src="public/js/main.js"></script>
</html>
