* {
  margin: 0;
  padding: 0;
}

/*ul li {*/
/*list-style-type: none;*/
/*}*/

#app {
  width: 50%;
  height: 100%;
  margin: 50px auto;
}

table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

table tr {
  width: 400px;
  height: 30px;

}

td,th {
  width:100px;
  height:30px;
  text-align: center;
  border: 1px solid #666;

}
